<% # app/views/graphs/by_day.html.erb %>
<body class="<%= controller_name %> <%= action_name %>">
  <%= yield %>
  <%= javascript_tag do %>
    var data = JSON.parse(gon.data)
    data = kv_to_xy(data)
  <% end %>
  <%= javascript_tag do %>
    bar_graph_basic("Attempts per Day",
      data.map(d => d.x),
      data.map(d => d.y)
    );
  <% end %>
  <%= javascript_tag do %>
    bar_graph_basic("Attempts per Day",
      data.map(d => d.x),
      data.map(d => d.y))
  <% end %>
  <%= javascript_tag do %>
    plot_graph_sorted("Correct vs Incorrect Attempts",
      data.map(d => d.x),
      data.map(d => d.y))
  <% end %>
</body>
