<% # app/views/graphs/create.html.erb %>
<body class="<%= controller_name %> <%= action_name %>">
  <%= yield %>
  <%= javascript_tag do %>
    var data = JSON.parse(gon.data)
    var comp = JSON.parse(gon.comp)
    var data_title = gon.data_name
    var comp_title = gon.comp_name
    data = kv_to_xy(data)
  <% end %>
  <%= javascript_tag do %>
    bar_graph_basic(data_title,
      data.map(d => d.x),
      data.map(d => d.y)
    );
  <% end %>
  <%= javascript_tag do %>
    plot_graph_sorted(comp_title,
      data.map(d => d.x),
      data.map(d => d.y)
    ).compareWith(comp, "green");
  <% end %>
</body>
